[package]
name = "shared"
version = "0.1.0"
edition = "2024"

[features]
default = ["std"]
std = []

[dependencies]
serde = { version = "1", features = ["derive"] }
thiserror = "1"
crc32fast = { version = "1", default-features = false }
postcard = { version = "1.1", default-features = false, features = ["alloc"] }
postcard-schema = { version = "0.2", default-features = false, features = ["derive", "alloc"] }
ergot = { version = "0.11", default-features = false }

[package.metadata.cargo-machete]
ignored = ["serde", "postcard", "postcard-schema", "ergot"]
