name: Continuous Integration

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  checks:
    name: Rust checks
    runs-on: ubuntu-latest
    env:
      CARGO_INCREMENTAL: "0"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Install Xtensa toolchain
        uses: esp-rs/xtensa-toolchain@v1
        with:
          buildtargets: esp32s3
          default: false
          override: false

      - name: Cache cargo artifacts
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: ubuntu-latest-stable

      - name: Run cargo fmt
        run: cargo fmt --all -- --check

      - name: Run cargo clippy
        run: cargo clippy --workspace --all-targets -- -D warnings

      - name: Run cargo test
        run: cargo test --workspace
